<header class="container-xl px-3 py-2 d-flex flex-justify-between flex-items-center">
  <a href="{{ '/' | relative_url }}" class="h4 no-underline color-fg-default">Yujia-site</a>
  <nav class="d-flex flex-items-center gap-3">
    <a class="Link--primary" href="{{ '/' | relative_url }}">Home</a>
    <a class="Link--primary" href="{{ '/pages/projects.html' | relative_url }}">Projects</a>
    <a class="Link--primary" href="{{ '/pages/blog.html' | relative_url }}">Blog</a>
    <a class="Link--primary" href="{{ '/' | relative_url }}#about">About</a>
    <a class="Link--primary" href="{{ '/pages/contact.html' | relative_url }}">Contact</a>
    <button class="btn btn-invisible" data-action="toggle-theme" aria-label="Theme toggle">◎</button>
  </nav>
</header>
