---
layout: default
---
<header class="mb-4 text-center">
  <h1 class="f2-light">Projects</h1>
</header>
<div class="d-flex flex-column align-items-center">
  {% include tabs.html %}
  <div class="fixed-grid-container mt-3">
    {%- assign items = site.projects | sort: 'year' | reverse -%}
    {%- for prj in items -%}
      <div class="fixed-grid-item project-card" data-type="{{ prj.type }}">
        {% include card.html item=prj type='project' %}
      </div>
    {%- endfor -%}
  </div>
</div>
<script src="{{ '/assets/scripts/project-filter.js' | relative_url }}"></script>
